// ***************
// Color Variables 
// ***************

// Nextiles Color
// ***************

// Primary Colors
$color-primary-dark-grey: #262626;
$color-primary-yellow: #FFC04D;
$color-primary-yellow-dark:  #E7A830;
$color-primary-green: #04CCCB;

//Secondary Colors
$color-secondary-dark-grey-2: #373737;
$color-secondary-light-grey: #EEEEEE;
$color-secondary-orange: #F58451;
$color-secondary-white: #FFFF;
//***************

$color-grey-dark: #777;
$color-grey-dark-2: #999;
$color-white: #fff;
$color-grey-light-1: #f7f7f7;
$color-grey-light-2: #eee;
$color-black: #000;

// ***************
// Font Variables 
// ***************
$default-font-size: 1.6rem;

// ***************
// Grid Variables 
// ***************

$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-vertical-small: 6rem;
$gutter-horizontal: 6rem; 

// ===========================================================================
// z-index
// ===========================================================================

// banner
$z-header-background: 1;
$z-header-content-background: 0;
$z-header-banner: 1;
$z-header-scroll-down: 2;

// background body
$z-body-background: 2;

// navigation
$z-navigation-button: 6;
$z-navigation-background: 4;
$z-navigation-nav: 5;

// toggle
$z-toggle-button: 3;

// footer
$z-footer: 7;



